.cartProduct {
    display: flex;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info{
    padding-left: 20px
}

.info > button{
    background: #e4a419;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.cart_img {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

  .rating {
    display: flex;
  }

.title{
    font-size: 17px;
    font-weight: 800;
}

